
<div id="main-container">
  <div id="main-inner">
    <div id="liftmain">
      <div id="focus-bar-main">
        <a href="#">Focus</a>
      </div>
    </div>

    <div id="calibrate">
      <div id="calibrate-bar">
        <div class="left-link">
            <a href="#">Back</a>
        </div>
        <div class="middle-title">
            Focus
        </div>
         <div class="right-link">
            <a href="#">Options</a>
        </div>
      </div>

      <div id="calibrate-instructions">
        <div>
          Lift will help you reach your goal by gently buzzing when you slouch.
        </div>
        <div>
          Get started by making yourself as tall as you can. Lift your chin up. Pull your shoulders back. 
        </div>
      </div>

      <div id="calibrate-start">
          <a href="#">Calibrate to Start</a>
      </div>
    </div>
     <div id="calibrate2">
      <div id="calibrate2-bar">
        <div class="middle-title">
            Focus
        </div>
        
      </div>

      <div id="calibrate2-instructions">
       
        <div>
          Hold that position.
        </div>
         <div id="calibrating">
          Calibrating...
        </div>
        <div id='dots'>
          <div class="dot1"></div>
          <div class="dot2"></div>
          <div class="dot3"></div>
          <div class="dot4"></div>
          <div class="dot5"></div>
        </div>
      </div>

      <div id="calibrate2-cancel">
          <a href="#">Cancel</a>
      </div>
    </div>
    <div id="body-container">
      <div id="body-container-bar">
        <div class="left-link">
            <a href="/focus">Finish</a>
        </div>
        <div class="middle-title">
            Focus
        </div>
         <div class="right-link">
            <a href="#">Options</a>
        </div>
      </div>

       <div id="time-left">
        <strong>6</strong> minutes left
        <br /><small>of your daily goal</small>
      </div>
       <div id="focus-instructions">
        <div>
          Make yourself as tall as possible, until Lift stops buzzing you. 
        </div>
        
      </div>
     
      <div id="canvas-container">
        <canvas id="canvas" width="300" height="300"></canvas>
      </div>
    </div>

  </div>
</div>


