
<div id="main">
  <div id="inner">
    <div id="lift">
      <div id="lift-bar">
        <a class="left" href="#"><img src='<%=image_url('menu.png')%>'></a>
        <a class="right" id="mark" href="#"><img src='<%=image_url('lumo_mark_color.png')%>'></a>
      </div>
      <div id="posture">
      </div>
      <div id="steps">
      </div>
      <div id="steps-min">
      </div>
    </div>

    <div id="lift-focus">
      <div id="starting-focus">
        Starting Focus Mode...
      </div>
      <div id="body-container-2">


        <div id="main-body">
          <div id="time-left">
            <strong>6</strong> minutes left
            <br /><small>of your daily posture goal</small>
          </div>
          <div id="focus-instructions-2">
            <div>
             <div id='time-sec'>0</div>
             seconds
            </div>

          </div>

          <div id="start-stop">
          

          </div>

          <div id="canvas-container">
            <canvas id="canvas" width="300" height="270"></canvas>
            <div id="mins"></div>
          </div>
        </div>
      </div>

    </div>

    <div id="focus">
      <a id="start-focus" href="#"><strong>PowerUp</strong> 
        <img class='switch' src='<%=image_url('switch_off.png')%>'>
        <img class='switch_on' src='<%=image_url('switch_on.png')%>'>
      </a>
      <div class="description">During PowerUp, Lift will help you discard other distractions and actively coach you towards your daily posture goal by gently vibrating when you slouch.</div>
      <div id="focus-settings">
        <a id="intensity-link" href="#">Vibration Intensity</a>
        <a id="bpt-link" href="#">Bad Posture Threshold</a>
      </div>
      <a id="calibrate-link" href="#">Calibrate</a>
  
    </div>




  </div>
</div>


