
<div id="main">
  <div id="inner">
    <div id="lift">
      <div id="lift-bar">
        <a class="left" href="#"><img src='<%=image_url('menu.png')%>'></a>
        <a class="right" href="#">Focus</a>
      </div>
      <div id="posture">
      </div>
      <div id="steps">
      </div>
    </div>

    <div id="focus">
      <a id="start-focus" href="#"><strong>Focus Mode</strong></a>
      <div class="description">During Focus Mode, Lift will actively coach you towards your daily posture goal by gently vibrating when you slouch.</div>
       <a id="start-focus" href="#">Calibrate</a>
         <a id="start-focus" href="#">Vibration Intensity</a>
                 <a id="start-focus" href="#">Bad Posture Threshold</a>

    </div>




  </div>
</div>


